experiment_name: CarRacing-PPO-LSTM

env_kwargs:
  id: CarRacing-v3
  vectorization_mode: async
  num_envs: 8
  permute_observations: true

policy:
  type: ppo
  kwargs:
    advantage_normalize: batch
    gamma: 0.99
    lambda_: 0.95
    value_loss_coef: 0.5
    lr: 0.0003
    exploration_method: 
      name: distribution

worker_kwargs:
  device: auto
  record_step: 50000

train_kwargs:
  num_steps: 500000
  batch_size: 128
  minibatch_size: 128

network:
  kwargs:
    backbone_kwargs: {}
    backbone_name: simple_cnn
    core_kwargs: {}
    core_name: gru
    distribution: mvn
    head_kwargs: {}
    head_name: actor_critic
    num_features: 256
