experiment_name: CartPole-Sarsa

env_kwargs:
  id: CartPole-v1
  vectorization_mode: async
  num_envs: 8

policy:
  type: sarsa
  kwargs:
    gamma: 0.99
    lambda_: 0
    value_loss_coef: 0.5
    lr: 0.001
    exploration_method: egreedy

worker_kwargs:
  device: auto
  record_step: 20000
  epsilon_decay_factor_: 0.99995

train_kwargs:
  num_steps: 100000
  batch_size: 32
  minibatch_size: 32

network:
  kwargs:
    num_features: 64
    backbone_name: mlp
    feature_extractor_name: shared
    head_name: actor
    policy_name: actor
    distribution: categorical
