experiment_name: Acrobot-Sarsa

env_kwargs:
  general_wrappers: {}
  id: Acrobot-v1
  num_envs: 8
  training_wrappers:
    power_obs_reward:
      pow_factors:
      - 0
      - 0
      - 0
      - 0
      - 0.01
      - 0.01
    terminal_bonus:
      terminated_bonus: 100
  vectorization_mode: async

policy:
  type: sarsa
  kwargs:
    gamma: 0.99
    lambda_: 1.
    optimizer_kwargs:
      lr: 3e-4
    exploration_method:
      kwargs:
        decay_step_: 1000
        epsilon_decay_: 0.95
        epsilon_start_: 1.0
        min_epsilon_: 0.02
      name: egreedy

worker_kwargs:
  device: auto
  record_step: 10000

train_kwargs:
  batch_size: 8
  minibatch_size: 16
  num_steps: 50000

network:
  kwargs:
    backbone_kwargs: {}
    backbone_name: mlp
    distribution: categorical
    head_kwargs: {}
    head_name: actor
    num_features: 16
