experiment_name: CarRacing-PPO

env_kwargs:
  id: CarRacing-v3
  vectorization_mode: async
  num_envs: 24
  permute_observations: True

policy:
  type: ppo
  kwargs:
    gamma: 0.99
    lambda_: 0.95
    value_loss_coef: 0.5
    entropy_coef: 0.01
    entropy_decay: 1.
    lr: 0.0003
    num_epochs: 10
    clip_epsilon: 0.2
    exploration_method: distribution
    advantage_normalize: batch

worker_kwargs:
  device: auto
  record_step: 50000

train_kwargs:
  num_steps: 500000
  batch_size: 256
  minibatch_size: 128

network:
  kwargs:
    num_features: 256
    backbone_name: simple_cnn
    feature_extractor_name: shared
    head_name: actor_critic
    policy_name: actor_critic
    distribution: mvn
