experiment_name: CarRacing-PPO-GRU

env_kwargs:
  id: CarRacing-v3
  vectorization_mode: async
  num_envs: 16

policy:
  type: ppo
  kwargs:
    advantage_normalize: batch
    gamma: 0.99
    lambda_: 0.95
    value_loss_coef: 0.5
    entropy_coef: 0.01
    num_epochs: 3
    clip_epsilon: 0.2
    optimizer_kwargs:
      actor_lr: 3e-5
      critic_lr: 1e-4
    exploration_method: 
      name: distribution

worker_kwargs:
  device: auto
  record_step: 100000

train_kwargs:
  num_steps: 1000000
  batch_size: 128
  minibatch_size: 64

network:
  kwargs:
    backbone_kwargs: {}
    backbone_name: simple_cnn
    core_kwargs: {}
    core_name: gru
    distribution: normal
    head_kwargs: {}
    head_name: actor_critic
    initial_deviation: 0.5
    num_features: 128
