experiment_name: Acrobot-Sarsa

env_kwargs:
  id: Acrobot-v1
  vectorization_mode: async
  num_envs: 8

policy:
  type: sarsa
  kwargs:
    gamma: 0.99
    lambda_: 0.9
    value_loss_coef: 0.5
    lr: 0.0003
    exploration_method: 
      name: egreedy
      kwargs:
        epsilon_start_: 1.
        epsilon_decay_: 0.95
        decay_step_: 1000
        min_epsilon_: 0.02

worker_kwargs:
  device: auto
  record_step: 20000

train_kwargs:
  num_steps: 100000
  batch_size: 32
  minibatch_size: 32

network:
  kwargs:
    num_features: 64
    backbone_name: mlp
    feature_extractor_name: shared
    head_name: actor
    policy_name: actor
    distribution: categorical
